 <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('visitor.welcome.index') }}">Accueil</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Qui suis-je ?</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
                
            <ul class="navbar-nav ms-auto">    
                {% if app.user %}
                    {% if is_granted ('ROLE_SUPER_ADMIN')%}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.home.index') }}">Espace admin</a>
                        </li>
                    {% elseif is_granted ('ROLE_ADMIN')%}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.home.index') }}">Espace admin</a>
                        </li>
                    {% elseif is_granted ('ROLE_USER')%}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user.home.index') }}">Espace privé</a>
                        </li>     
                    {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app.logout') }}">Deconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('visitor.authentication.login') }}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('visitor.registration.register') }}">Inscription</a>
                        </li>  
                {% endif %}
            </ul>
            </div>
        </div>
    </nav>