{% extends "themes/base_visitor.html.twig" %}

{% block title %}- Inscription{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Inscription</h1>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto bg-white shadow p-4">
                {{ form_start(registrationForm) }}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="registration_form_firstName">Prénom</label>
                            <div class="text-danger">{{ form_errors(registrationForm.firstName) }}</div>
                            {{ form_widget(registrationForm.firstName, {'attr' : {'class': "form-control"}}) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label form="registration_form_lastName">Nom</label>
                            <div class="text-danger">{{ form_errors(registrationForm.lastName) }}</div>    
                            {{ form_widget(registrationForm.lastName, {'attr' : {'class': "form-control"}}) }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="registration_form_email">Email</label>
                             <div class="text-danger">{{ form_errors(registrationForm.email) }}</div>
                            {{ form_widget(registrationForm.email, {'attr' : {'class': "form-control"}}) }}
                        </div>
                    </div>

                     <div class="row">
                        <div class="col-12 mb-3">
                            <label for="registration_form_password_first">Mot de passe</label>
                             <div class="text-danger">{{ form_errors(registrationForm.password.first) }}</div>
                            {{ form_widget(registrationForm.password.first, {'attr' : {'class': "form-control"}}) }}
                        </div>
                    </div>

                     <div class="row">
                        <div class="col-12 mb-3">
                            <label for="registration_form_password_second">Confirmation du mot de passe</label>
                            <div class="text-danger">{{ form_errors(registrationForm.password.second) }}</div>
                            {{ form_widget(registrationForm.password.second, {'attr' : {'class': "form-control"}}) }}
                        </div>
                    </div>

                     <div class="row">
                        <div class="col-12 mb-3">
                            <div class="text-danger">{{ form_errors(registrationForm.agreeTerms) }}</div>
                            {{ form_widget(registrationForm.agreeTerms) }}
                            <label for="registration_form_agreeTerms">Veuillez accepter <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Conditions Générales d'Utilisation</a></label>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Les conditions générales d'utilisation</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Lorem Ipsum
                            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                            "Il ny a personne qui naime la souffrance pour elle-même, qui ne la recherche et qui ne la veuille pour elle-même..."
                            Qu'est-ce que le Lorem Ipsum?
                            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.

                            Pourquoi l'utiliser?
                            On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).


                            D'où vient-il?
                            Contrairement à une opinion répandue, le Lorem Ipsum n'est pas simplement du texte aléatoire. Il trouve ses racines dans une oeuvre de la littérature latine classique datant de 45 av. J.-C., le rendant vieux de 2000 ans. Un professeur du Hampden-Sydney College, en Virginie, s'est intéressé à un des mots latins les plus obscurs, consectetur, extrait d'un passage du Lorem Ipsum, et en étudiant tous les usages de ce mot dans la littérature classique, découvrit la source incontestable du Lorem Ipsum. Il provient en fait des sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" (Des Suprêmes Biens et des Suprêmes Maux) de Cicéron. Cet ouvrage, très populaire pendant la Renaissance, est un traité sur la théorie de l'éthique. Les premières lignes du Lorem Ipsum, "Lorem ipsum dolor sit amet...", proviennent de la section 1.10.32.

                            L'extrait standard de Lorem Ipsum utilisé depuis le XVIè siècle est reproduit ci-dessous pour les curieux. Les sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham (1914).
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                        </div>
                    </div>
                    </div>

                        </div>
                    </div>

                     <div class="row">
                        <div class="col-12 mb-3">
                            <input type="submit" class="btn btn-primary" formnovalidate />
                        </div>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}